:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Alfa Slab One", cursive;
  font-family: "Inria Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: block;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0px 20px;
}

.rainbow {
  width: 80vh;
  height: 80vh;
  z-index: 10;
  border-radius: 10%;
}

.dialog-content {
  width: 80vh;
  height: 80vh;

  background-color: #daffef;
  border-radius: 10%;
}

.dialog-content .avatar {
  width: 100%;
  border-radius: 20px;
}

.justify {
  text-align: justify;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 100;
}

.dialog:not(.step-0) {
  display: none;
}

.title {
  position: absolute;
  z-index: 10;
  font-weight: 800;
  font-size: 6rem;
}

.with-bg {
  background-color: #c0fdfb;
}

.section1,
.section2,
.section3,
.section4 {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
}

.problem-image {
  max-width: 10vw;
  max-height: 10vh;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
.section1 p {
  font-weight: bold;
}
.section-name {
  font-size: 50px;
}
.content {
  max-width: 1000px;
}

.content li {
  max-width: 300px;
}

#rpg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
}

@media (min-width: 800px) {
  #rpg {
    width: 816px;
    height: 624px;
  }
}

@media (max-width: 800px) {
  #rpg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.section3 {
  height: 700px;
}
.section-title {
  display: block;
}
.content-section3 {
  display: flex;
}
.left p,
h3 {
  margin-left: 70px;
  margin-right: 20px;
  text-align: left;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.language-icon img {
  margin-top: 10px;
  width: 50px;
  display: flex;
  justify-content: start;
}
.language-icon ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a {
  color: black;
}
.links-images-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.send-button {
  margin-top: 10px;
  background-color: #64b6ac;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
}
.right p,
h3 {
  margin-right: 70px;
  text-align: left;
  margin-bottom: 20px;
}
#situation,
#opinion {
  color: #c2c2c2;
  font-weight: bolder;
  margin: 5px;
  border-radius: 5px;
  border-color: #ffffff;
}
#situation {
  height: 70px;
}
#opinion {
  height: 30px;
}
#prog {
  margin-left: 0;
}

.section_4 {
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.content_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 434px;
  width: 700px;
  background-color: #f5f5f5;
}
.headline_4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.text_4 {
  text-align: center;
  margin: 0;
  margin-bottom: 1.5em;
  padding: 0;
}

.heart_4 {
  width: 95px;
  height: 75px;
  margin-bottom: 40px;
}

.button_4 {
  width: 170px;
  height: 70px;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: #daffef;
  border: solid 5px #64b6ac;
}
.section2 {
  background-color: white;
  display: block;
}
.heading {
  text-align: center;
  font-size: 2.8em;
}

.paragraph {
  text-align: center;
  margin: 0px 150px 0px 150px;
  padding-bottom: 14px;
}
#one {
  margin-top: 80px;
  margin-left: 20px;
  text-align: left;
}
#two {
  margin-top: 50px;
  margin-left: 20px;
  text-align: left;
}
#three {
  margin-top: 50px;
  margin-left: 20px;
  text-align: left;
}

.img-circle {
  background-color: #daffef;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.box {
  margin-left: 25%;
  align-items: center;
  justify-content: center;
  width: 50%;
  display: flex;
}

.all-icons {
  display: block;
  margin-left: 25%;
  padding-top: 80px;
  padding-bottom: 10px;
}
.all-paragraphs {
  display: block;
}

h3 {
  font-family: "Alfa Slab One", cursive;
  font-size: 36px;
}
h2 {
  font-family: "Alfa Slab One", cursive;
  font-size: 56px;
}
h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 62px;
}
.fonts-style {
  font-family: "Inria Sans", sans-serif;
  font-size: 18px;
}

.game-changer {
  font-family: "Inria Sans", sans-serif;
}

#key1 {
  width: 300px;
}

#key2 {
  width: 150px;
}

.keysstuff {
  margin-bottom: 70px;
}

.themargin {
  margin-bottom: 30px;
}

.next {
  background-color: #64b6ac;
  color: white;
}

#buttonstuff{
  background-color: #64b6ac;
  color: white;
}

#nicelink{
  background-color: #64b6ac;
  color: white;
}
